{% extends "ShopBundle:default:base.html.twig" %}

{% block scripts %}
    {% javascripts '@ShopBundle/Resources/js/cart/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="app">
        <p style="text-align: center;" v-if="productsList.length == 0">Корзина пуста</p>
        <div class="table-responsive" v-if="productsList.length > 0">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td class="text-center">Изображение</td>
                    <td class="text-left">Название</td>
                    <td class="text-left">Количество</td>
                    <td class="text-right">Цена за еденицу</td>
                    <td class="text-right">Всего</td>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in productsList">
                        <td class="text-center">
                            <a v-bind:href="item.url">
                                <img v-bind:src="item.photo" width="100" v-bind:alt="item.name" v-bind:title="item.name" class="img-thumbnail">
                            </a>
                        </td>
                        <td class="text-left">
                            <a v-bind:href="item.url">${ item.name }</a>
                            <br>
                        </td>
                        <td class="text-left">
                            <div class="input-group btn-block" style="max-width: 200px;">
                                <input v-model="products[index].count" class="form-control" >
                                <span class="input-group-btn">
                                    <button type="button" data-toggle="tooltip" v-on:click="remove(index)" class="btn btn-danger" data-original-title="Remove">Удалить</button>
                                </span>
                            </div>
                        </td>
                        <td class="text-right">${ item.price }</td>
                        <td class="text-right">${ ((isNaN(products[index].count) || products[index].count === '0' || products[index].count === '')? parseInt(1): products[index].count) * item.price }</td>
                    </tr>
                </tbody>

            </table>
        </div>

    <div style="height: 120px"></div>
    <div class="row" v-if="productsList.length > 0">
        <div class="col-sm-4 col-sm-offset-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="text-right"><strong>Всего:</strong></td>
                        <td class="text-right">${ sum }</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="buttons clearfix" v-if="productsList.length > 0">
        <div class="pull-left">
            <a href="{{ path('shop_homepage') }}" class="btn btn-default">На главную</a>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary" v-on:click="submit">Оформить заказ</button>
        </div>
    </div></div>
{% endblock %}

{% block vue %}
    function fill(){
    app.products = [
    {% for item in products %}
        { id: {{ item.id }}, name: '{{ item.name }}', photo: '{{ item.photo }}',
        description: '{{ item.description|slice(0, 200) }}...', url: '{{ path('shop_products', {'id': item.id }) }}',
        price: {{ item.price }}, sprice: {{ item.price }}, count: 1},
    {% endfor %}];
    }
{% endblock %}