{% extends "ShopBundle:default:base.html.twig" %}

{% block scripts %}
    {% javascripts '@ShopBundle/Resources/js/search/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="app">
    <ul class="breadcrumb">
        <li><a href="{{ path('shop_homepage') }}">Главная</a></li>
        <li><a href="{{ path('shop_search') }}">Поиск</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Поиск - {{ data }}</h1>
            <div class="row">
                <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12" v-for="item in productsList">
                    <div class="product-thumb">
                        <div class="image" style="height: 200px; margin: 10px;">
                            <a v-bind:href="item.url" style="width: 200px;">
                                <img style="max-width: 200px; max-height: 160px; margin-top: 10px; margin-bottom: 10px;" v-bind:src="item.photo" alt="iPhone" title="iPhone" class="img-responsive">
                            </a>
                        </div>
                        <div>
                            <div class="caption">
                                <h4><a v-bind:href="item.url">${ item.name }</a></h4>
                                <p>${ item.description }</p>
                                <strong>${ item.price }</strong>
                            </div>
                            <div class="button-group">
                                <button type="button" v-on:click="buy(item.id)"><span class="hidden-xs hidden-sm hidden-md">Купить</span></button>
                                <button type="button" v-on:click="addToCompareList(item.id)" data-original-title="Сравнить">Сравнить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block vue %}
    function fill(){
    app.products = [
    {% for item in products %}
        { id: {{ item.id }}, name: '{{ item.name }}', photo: '{{ item.photo }}',
        description: '{{ item.description|slice(0, 200) }}...', url: '{{ path('shop_products', {'id': item.id }) }}',
        price: {{ item.price }}, sprice: {{ item.price }} },
    {% endfor %}];
    }
{% endblock %}